body,html {
    margin: 0;
    padding: 0;
    border:0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.left-container{
    display: flex;
    flex-direction: column;
    
}

img{
    height: 100%;
}

.title{
    display: flex;
    position: relative;
    bottom: 40vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    color: white;
    flex: 1 1 0;
    
}

.title img{
    height: 80px;
}

.right-container{
    background-color: blue;
    flex: 1 1 0;
}

.footer{
    position: relative;
    bottom: 17vh;
    flex: 1 1 0;
    text-align: center;
    
}

